extends layout

block content
	h1= title
  
	h1.
		Display Ticket
	h1 #{ticketInfo.hostname.Value}
		
		
	
	form(method="POST", action="/dispticket-linux-dynamic")
		each val, index in ticketInfo
			if val.Label
				p= val.Label
				if val.Value == "on"
					input(type=val.Type, name=val.Name, checked)
				else if !val.Value 
					input(type=val.Type, name=val.Name )
				else 
					input(type=val.Type, name=val.Name, value=val.Value)
				
	
		input(type="submit")