extends layout

block content
	h1= title
  
	h1.
		Display Ticket
	h1 #{ticketInfo.hostname}
		
	p #{array.ipAddress.value} hello
		
	p #{array.ipAddress.Label}  hello2
	
	form(method="POST", action="/dispticket-linux")
		each val, index in array 
			p= val.Label
			input(type=val.Type, name=val.Nameindex, value=val.Value)

	
	